<template>
  <div class="destinations section">
    <div class="search-by-property">
      <div class="search-by-property-container">
        <h2 class="text-header">{{ this.title }}</h2>
        <div class="container-item">
          <ul class="build__inner">
            <router-link tag="li" to="/dalat"
              class="inner__item"
              v-for="(value, key) in destinationItem"
              :key="key"
            >
              <div class="build__inner">
                <a href="" class="property-img">
                  <img v-bind:src="'/img/' + value.img" alt="" class="item" />
                </a>
              </div>
              <div class="content">
                <h3 class="title">
                  <a href="" class="property-name">{{ value.name }}</a>
                </h3>
                <p class="subtitle">{{ value.decription }}</p>
              </div>
            </router-link>
          </ul>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: "Destination",
  data() {
    return {
      title: "Tìm theo loại chỗ nghỉ",
      destinationItem: [
        {
          name: "Khách sạn",
          decription: "731.924 khách sạn",
          img: "khachsancanho.jpg",
        },
        {
          name: "Lều trại sang trọng",
          decription: "3.065 Lều trại sang trọng",
          img: "leutraiquantrong.jpg",
        },
        {
          name: "Nhà khách",
          decription: "114.985 Nhà khách",
          img: "nhakhach.jpg",
        },
        {
          name: "Nhà nghỉ mát",
          decription: "374.936 Nhà nghỉ mát",
          img: "nhanghimat.jpg",
        },
        {
          name: "Nhà nghỉ ven đường",
          decription: "14.862 Nhà nghỉ ven đường",
          img: "nhanghivenduong.jpg",
        },
      ],
    };
  },
};
</script>
<style>
@import "../../../../public/css/destination.css";
</style>