<template>
  <div>
    <vueper-slides ref="myVueperSlides"
                   autoplay
                   :pause-on-hover="pauseOnHover"
                   @autoplay-pause="internalAutoPlaying = false"
                   @autoplay-resume="internalAutoPlaying = true">
      <vueper-slide v-for="(slide, i) in slides" :key="i" :image="slide.image"/>
    </vueper-slides>
  </div>
</template>
<script>
import {VueperSlides, VueperSlide} from 'vueperslides'
import 'vueperslides/dist/vueperslides.css'

export default {
  name: 'SlideShow',
  components: {VueperSlides, VueperSlide},
  data() {
    return {
      pauseOnHover: true,
      autoPlaying: true,
      internalAutoPlaying: true,
      slides: [
        {
          id: 'slide-1',
          title: '',
          image: require('../../../public/img/slide1.jpg'),
        },
        {
          id: 'slide-2',
          title: '',
          image: require('../../../public/img/slide2.jpg'),
        },
        {
          id: 'slide-3',
          title: '',
          image: require('../../../public/img/slide3.jpg'),
        },
        {
          id: 'slide-4',
          title: '',
          image: require('../../../public/img/slide4.jpg'),
        }
      ]
    }
  }
}
</script>
<style scoped>
.vueperslides__arrow vueperslides__arrow--prev{
  z-index: 1 !important;
}
</style>