<template>
  <div class="Home">
    <Banner/>
    <div class="home-content">
      <Destination class="destination"/>
      <LargestPopular/>
      <IndexSection/>
    </div>
  </div>
</template>

<script>
import Banner from "@/components/views/Banner";
import LargestPopular from "./LargestPopular/LargestPopular";
import IndexSection from "./IndexSection";
import Destination from "./Destination/Destination";
import LayoutDefault from "../../layouts/LayoutDefault";

export default {
  name: `Home`,
  components: {
    Banner,
    Destination,
    LargestPopular,
    IndexSection,
  },
  created() {
    this.$emit(`update:layout`, LayoutDefault);
  },
};
</script>
<style scoped>
.home-content{
  margin-top: 180px;
}
.destination{

}
</style>
