<template>
  <div class="modal-login">
    <div class="modal-login-body">
      <div class="modal-login-container">
        <div class="auth-form">
          <div class="auth-form-header" style="text-align: center">
            <h4 class="auth-form-switch-buton" style="font-size: 35px">Đăng nhập</h4>
          </div>
          <div class="auth-form_form">
            <form action="/user" method="get" id="login-form" v-on:submit="handleSubmit">
              <div class="auth-form-group">
                <div class="form-error">
                  <div v-if="errors.length">
                    <p>Có lỗi xảy ra</p>
                    <ul>
                      <li v-for="error in errors" :key="error">{{error}}</li>
                    </ul>
                  </div>
                </div>
                <div class="form-group">
                  <label for="login-email">Email</label>
                  <input
                      v-model="email"
                      id="login-email"
                      name="login-email"
                      type="text"
                      class="auth-form-input"
                      placeholder="Nhập email"
                  />
                  <span class="form-message"></span>
                </div>
                <div class="form-group">
                  <label for="login-pass">Mật khẩu </label>
                  <input
                      v-model="password"
                      id="login-pass"
                      name="login-pass"
                      type="password"
                      class="auth-form_input"
                      placeholder="Nhập mật khẩu"
                  />
                  <span class="form-message"></span>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="auth-form-controls">
          <router-link tag="button" id="auth-form-login-back" class="auth-form-btn" to="/register">ĐĂNG KÝ</router-link>
          <button
              type="submit"
              id="auth-form-login"
              class="auth-form-btn"
              data-toggle=""
              form="login-form"
          >
            ĐĂNG NHẬP
          </button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "ModalLogin",
  data: () => {
    return {
      email:'',
      password: '',
      localEmail: 'a@b',
      localPassWord: '123',
      errors:[],
    }
  },
  methods: {
    handleSubmit(e) {
      this.errors = [];
      if (this.email !== this.localEmail){
        this.errors.push('Sai địa chỉ email');
      }
      if (this.password !== this.localPassWord){
        this.errors.push('Sai mật khẩu');
      }
      if (!this.errors.length){
        alert('Đăng nhập thành công');
        return true;
      }
      e.preventDefault();
    },
  },
}
</script>


<style>
@import "../../../public/css/modal_login_register.css";
</style>
