<template>
  <div class="modal-register">
    <div class="modal-register-overlay"></div>
    <div class="modal-register-body">
      <div class="modal-register-container">
        <div class="auth-form">
          <div class="auth-form-header" style="text-align: center">
            <h4 class="auth-form-switch-button" style="font-size: 35px">Đăng ký</h4>
          </div>
          <div class="auth-form_form">
            <form action="" method="GET" id="register-form">
              <div class="auth-form-group">
                <div class="form-group">
                  <label for="register-full-name">Họ và tên</label>
                  <input
                    name="full-name"
                    type="text"
                    class="auth-form-input"
                    id="register-full-name"
                    placeholder="VD: Đào Ngọc Duy"
                  />
                  <span class="form-message"></span>
                </div>
                <div class="form-group">
                  <label for="register-email">Nhập email</label>
                  <input
                    name="email"
                    type="text"
                    class="auth-form-input"
                    id="register-email"
                    placeholder="VD: example@gmail.com"
                  />
                  <span class="form-message"></span>
                </div>
                <div class="form-group">
                  <label for="register-password">Nhập mật khẩu</label>
                  <input
                    name="register-password"
                    type="password"
                    class="auth-form_input"
                    id="register-password"
                    placeholder="Nhập mật khẩu"
                  />
                  <span class="form-message"></span>
                </div>
                <div class="form-group">
                  <label for="register-repeat-pass">Nhập lại mật khẩu</label>
                  <input
                    name="repeat-password"
                    type="password"
                    class="ahtu-form_input"
                    id="register-repeat-pass"
                    placeholder="Nhập lại mật khẩu"
                  />
                  <span class="form-message"></span>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="auth-form-faq">
          <span class="auth-form-text"
            >Bằng việc đăng ý bạn đã đồng ý về
            <a href="" class="auth-form-faq-link">Điều khoản dịch vụ</a> &
            <a href="" class="auth-form-faq-link">Chính sách bảo mật</a></span
          >
        </div>
        <div class="auth-form-controls">
          <router-link tag="button" id="auth-form-register-back" class="auth-form-btn" to="/login">ĐĂNG NHẬP</router-link>
          <button
            type="submit"
            id="auth-form-register"
            class="auth-form-btn"
            data-toggle=""
            form="register-form"
          >
            ĐĂNG KÝ
          </button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "ModalRegister",
};
</script>

<style>
@import "../../../public/css/modal_login_register.css";
</style>