<template>
  <div class="container">
    <div class="left-menu">
      <ul class="left-menu-inner">
        <li class="left-menu-item active">
          <i class="far fa-calendar-check"></i> Đơn đặt chỗ của tôi
        </li>
        <li class="left-menu-item">
          <i class="far fa-comment-dots"></i> Hộp thư
        </li>
        <li class="left-menu-item">
          <i class="far fa-star"></i> Nhận xét
        </li>
        <li class="left-menu-item">
          <i class="fab fa-vine"></i> Dịch vụ VIP
        </li>
        <li class="left-menu-item">
          <i class="fas fa-dollar-sign"></i> Tiền Travelo
        </li>
        <li class="left-menu-item">
          <i class="far fa-user-circle"></i> Profile
        </li>
      </ul>
    </div>
    <div class="user-panel">
      <div class="banner">
        <div class="banner-container">
          <div class="banner-logo">
            <i class="fas fa-star" style="color: #f7e46c"></i>AgodaVIP
          </div>
          <div class="banner-content">
            <h5 id="banner-content-header" style="margin: 0">
              Duy thích làm khách VIP không?
            </h5>
            <p id="banner-content-text" style="margin: 0">
              Hãy hoàn thành thêm 5 lượt đặt phòng để mở khóa các giảm giá và lợi ích VIP
            </p>
          </div>
          <div class="banner-button">
            <button class="banner-learn-more">Tìm hiểu thêm</button>
          </div>
        </div>
      </div>
      <div class="user-panel-container">
        <div class="my-booking-filter">
          <div class="my-booking-header">
            <div class="filter-container">
              <div class="filter-option active">
                <a href="">Sắp tới</a>
              </div>
              <div class="filter-option">
                <a href="">Hoàn tất</a>
              </div>
              <div class="filter-option">
                <a href="">Đã huỷ</a>
              </div>
            </div>
            <div class="block-switch">
              <div class="switch-title">
                Sắp xếp theo
              </div>
              <div class="switch-option">
                <a href="">Ngày đặt phòng</a>
              </div>
              <div class="switch-option">
                <a href="">Ngày nhận phòng</a>
              </div>
            </div>
          </div>
          <div class="room-number-search">
            <div class="room-number-search-header">
              <p>Mã số đặt phòng</p>
            </div>
            <div class="room-number-search-button">
              <label for="booking-id"></label><input id="booking-id" placeholder="Mã số đặt phòng" value="">
              <button type="button" class="btn btn-secondary room-search-button">Tìm</button>
              <button type="button" class="btn btn-light room-search-button">Xoá</button>
            </div>
          </div>
        </div>
        <div class="no-booking-panel">
          <img :src="'/img/'+this.img" alt="">
          <div class="no-booking-content">
            <div class="no-booking-title">
              <h4>Quý khách không có đơn đặt chỗ sắp tới.</h4>
              <p>
                Quý khách đang tìm đơn đặt chỗ <a href="">đã qua</a> hay
                <a href="">đã huỷ</a>??
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
// import User from "@/components/views/User";
export default {
  name: "UserDashboard",
  components: {},
  data: () => {
    return{
      img:'illustration-empty.png',
    }
  }
}
</script>

<style>
@import "../../../public/css/user.css";
</style>