.search-carousel {
    width: 69%;
    height: 90%;
}

.search-carousel-container {
    height: 100%;
}

#carouselExampleIndicators {
    height: 100%;
}

.carousel-inner {
    height: 100%;
    border-radius: 8px;
}

.search-carousel img {
    height: 100%;
    width: 100%;
}