ul {
    margin: 0;
}

.dalat-menu {
    display: flex;
}
.dalat-menu .dalat-menu-container {
    margin: auto;
    width: 70%;
}
.dalat-menu .dalat-menu-container .sr_header--wrapper .sr_header--title .sr__header {
    margin-top: 30px;
}
.dalat-menu .dalat-menu-container .b-search-web {
    margin-top: 40px;
}
.dalat-menu .dalat-menu-container .b-search-web .plank-sorters-bar .plank-sorters-bar-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #0071c2;
    border-radius: 5px;
}
.dalat-menu .dalat-menu-container .b-search-web .plank-sorters-bar .plank-sorters-bar-inner li.plank-sorters-bar-item {
    display: block;
    font-size: 17px;
    width: 100%;
    text-align: center;
}
.dalat-menu .dalat-menu-container .b-search-web .plank-sorters-bar .plank-sorters-bar-inner li.plank-sorters-bar-item a {
    text-decoration: none;
    padding: 20px 4px;
    display: block;
    height: 100%;
    transition: 0.5s;
}
.dalat-menu .dalat-menu-container .b-search-web .plank-sorters-bar .plank-sorters-bar-inner a:hover {
    background-color: #007bff;
    color: white;
}


