#header {
  overflow: auto;
  background-color: #003580;
  height: 110px;
  display: inline-block;
  width: 100%;
}

/*Top Header*/

.top-nav {
  display: flex;
  justify-content: center;
  height: 30%;
}

.container-top-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  height: 100%;
  font-size: 12px;
  color: white;
  font-weight: lighter;

  li {
    cursor: pointer;
  }
}

.pull-left {
  display: flex;
  flex-wrap: wrap;
  margin: 0;

  a {
    text-decoration: none;
    color: white;
  }

  li {
    padding: 0 10px;
  }
}

.pull-right {
  display: flex;
  margin: 0;

  li {
    line-height: 30px;
    margin-left: 20px;
    font-weight: 700;

    &:first-child {
      padding: 0 10px;
      border: 1px solid white;
      border-radius: 3%;
      height: 30px;
      line-height: 30px;
      font-size: 13px;

      &:hover {
        background-color: #1554ad;
      }
    }

    &:last-child, &:nth-child(2) {
      background-color: white;
      border-radius: 3%;
      color: black;
      padding: 0 10px;
    }

    &:last-child:hover, &:nth-child(2):hover {
      color: #01b7f2;
    }
  }
}

/*Main-Menu*/

.main-header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70%;
  position: relative;
}

.container-main-header {
  display: flex;
  justify-content: space-between;
  height: 100%;
  width: 70%;
}

div.logo {
  line-height: 84px;
  cursor: pointer;

  img {
    margin-bottom: 20px;
  }
}

.nav-menu {
  display: flex;
  align-items: center;
  width: 70%;
  justify-content: flex-end;
}

.nav-menu-pc {
  width: 80%;
  height: 100%;

  ul.menu {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;

    li {
      color: white;
      cursor: pointer;
      i{
        margin-right: 10px;
      }
    }
  }
}

.nav-menu-button {
  cursor: pointer;
  width: 40px;
  height: 40px;
  color: white;
  display: none;
}

//.nav-overlay {
//  //display: none;
//  z-index: 3;
//  position: fixed;
//  top: 0;
//  right: 0;
//  bottom: 0;
//  left: 0;
//  background-color: rgba(0, 0, 0, 0.3);
//}
.nav-mobile {
  top: 0;
  right: 0;
  bottom: 0;
  width: 400px;
  position: fixed;
  z-index: 3;
  background-color: #32373D;
  transition: all 1s;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;

  .nav-mobile-close {
    left: 20px;
    top: 14px;
    position: absolute;
    color: #cccccc;
    width: 32px;
    height: 32px;
    cursor: pointer;

  }

  .nav-menu-mobile {
    position: relative;
    height: 100%;
    margin-top: 80px;
    width: 100%;
    i{
      margin-right: 20px;
    }
    ul{
      text-align: center;
    }
    li{
      width: 100%;
      padding: 20px;
      cursor: pointer;
      border-bottom: 1px solid;
      font-size: 20px;
      color: white;
    }
    li:first-child{
      border-top: 1px solid;
    }
    li:hover{
      background-color: white;
      color: #003580;
      transition: all 0.7s;
      transform: translateX(20px);
    }
  }
}

.fade-enter-active, .fade-leave-active {
  transition: 0.5s;
}
.fade-enter,.fade-leave-to {
  transform: translateX(100%);
}



@media (max-width: 1370px) {

  .nav-menu {
    display: flex;
    justify-content: flex-end;
  }
  .nav-menu-mobile {
    display: block;
  }
  .nav-menu-pc {
    display: none;
  }
  .nav-menu-button {
    display: block;
  }
}

@keyframes fadeIn {
  from{
    right: 0;
  }
  to{
    left: 0;
  }
}