* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}
a {
    text-decoration: none;
    cursor: pointer;
}
input {
    visibility:hidden;
    
}
.lp-bui-section-hotel-index {
    /* display: flex;
    justify-content: space-between; */
} 
.bui-segment-header-stacked {
    display: flex;
    justify-content: space-around;
}
.bui-segment-header {
    margin: 0;
    font-size: 24px;
    line-height: 32px;
    font-weight: 600;
    padding-top: 4px;
}
.buui-segment-subheader {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    margin-left: 0;
    margin-bottom: 16px;
    padding-top: 0;
}
.bui-segmented-control__trigger {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
    border: 0;
}
.bui-segmented-control--primary .bui-segmented-control__trigger:checked+.bui-segmented-control__button {
    background-color: #0071c2;
    color: #fff;
}
.bui-segmented-control__list {
    margin-top: 25px;
    margin-left: 15px;
}
.bui-segmented-control__button {
    border: 1px solid #0071c2;
    color: #0071c2;
    background: #fff;
    align-items: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    padding: 8px 16px;
    position: relative;
    cursor: pointer;
    height: 100%;

}
.bui-card {
    display: flex;
    background-color: #fff;
    color: #333;
    border-radius: 2px;
    padding: 16px;
}
.bui-card__content {
    max-width: 100%;
    -webkit-box-flex: 1;
    flex-grow: 1;
}
.bui-card__title {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    text-decoration: inherit;
    color: inherit;
    margin-left: 10px;
}
.bui-price-display {
    margin-top: 30px;
}
.bui-card__subtitle {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #6b6b6b;
    margin-left: 10px;
}
.review-score-widget__14 .review-score-badge {
    font-size: 14px;
    border-radius: 5.6px 5.6px 5.6px 0;
    width: 28px;
}
a.review-score-badge, span.review-score-badge {
    background: #003580;
    color: #fff;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    font-weight: normal;
    box-shadow: none;
    padding: 0;
    margin: 0;
    border: 0;
    vertical-align: baseline;
    box-sizing: border-box;
    position: relative;
    border-radius: 6px 6px 6px 0;
    width: 32px;
    line-height: 2;
    text-decoration: none;
}
.bui-price-display__label {
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    color: #6b6b6b;
}

.bui-price-display__value {
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
}

.bui-card.lp-hotel__deals_card {
    border: 0;
    border-bottom: 1px solid #ececec;
}

.bui-segmented-control__list {
    display: flex;
    justify-content: center;
}
.bui-card__content {
    display: flex;
    
    
}
.bui-card__header{
    display: flex;
    justify-content: space-between;
}
.lp-hotel__deals {
   display: flex;
    justify-content: space-between;
}
.danhgia {
    margin-left: 200px;
}
.main-text {
    display: flex;
    justify-content: space-around;
}
.maintext__container {
    display: flex;
    justify-content: space-around;
}
.container-main {
    width: 60%;
}
.container-main__1 {
    width: 60%;
}

.bui-segmented-control__item {
    cursor: pointer;
}
.lp-hotel__deals_more {
    text-align: center;
}
.bui-button__text {
    position: relative;
    color: #fff;
}
.bui-button {
    border: 1px solid #0071c2;
    border-radius: 2px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    padding: 7px 15px;
    cursor: pointer;
    text-decoration: none;
    box-sizing: border-box;
    vertical-align: middle;
    position: relative;
    color: #fff;
    background-color: #0071c2;
    min-height: 36px;
    min-width: 36px;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
}

