body {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

li {
    list-style-type: none;
    padding: 0;
}

ul {
    padding: 0;
}

select {
    border: none;
    outline: none;
    background-color: #f2f2f2;
}

.form-message {
    color: red;
}

#app {
    z-index: -1;
}
