span {
    display: block;
}

h3 {
    margin: 0;
}

h2 {
    margin: 0;
    padding: 0;
}

.index__section {
    display: flex;
    justify-content: center;
    margin-top: 70px;
    flex-wrap: wrap;
}

.index__section-container {
    width: 70%;
}

.index__section .bui-carousel {
    margin-top: 45px;
}
.index__section .bui-carousel__inner {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}
.index__section .bui-carousel__inner .bui-carousel__item {
    margin-top: 10px;
}
.index__section .bui-card__title {
    padding: 20px 0 10px;
    font-size: 20px;
}
.index__section .bui-card__content .bui-title__subtitle {
    margin: 0;
    padding: 0;
}
.index__section .build-title__subtitle-description {
    margin-top: 12px;
    margin-bottom: 16px;
}
.index__section .bh-carousel--new__price {
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    margin-bottom: 0;
    margin-top: 0;
}
.index__section .bui-review-score {
    font-size: 14px;
    margin-top: 12px;
    display: flex;
    justify-content: flex-start;
}
.index__section .bui-review-score .bui-review-score__badge {
    width: 28px;
    height: 28px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    background-color: #003580;
    color: #fff;
    align-items: center;
    display: flex;
    justify-content: center;
    vertical-align: baseline;
    border-radius: 6px 6px 6px 0;
}
.index__section .bui-review-score .bui-review-score__title {
    font-size: 14px;
    font-weight: 500;
    line-height: 1;
    color: #003580;
}
.index__section .bui-review-score__content {
    display: flex;
    align-items: center;
    padding-left: 10px;
}
.index__section .bui-review-score__text {
    justify-content: center;
    padding-left: 20px;
}
.index__section .bui-card__image-container__1 img {
    width: 260px;
    height: 210px;
    /* border-radius: 4%; */
}
.index__section .build__inner .inner__item .property-img {
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
    width: 207px;
    height: 180px;
    border-radius: 4%;
}
