div.search {
    height: 420px;
    display: flex;
    justify-content: center;
    /*margin-top: 40px;*/
    background-image: url("https://mytourcdn.com/themes/dist/images/bg-banner-home.png"),
    linear-gradient(0, #459ff5, #1c7ed8);
}

.search-container {
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-box {
    width: 29%;
    background-image: linear-gradient(0, #459ff5, #1c7ed8);
    border-radius: 2%;
    height: 90%;
    padding: 0 15px 0 15px;
}

.search-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.search-box-input i {
    position: absolute;
}

#search-box-header {
    display: flex;
    width: 100%;
}

.search-wrapper .nav-tabs {
    height: 15%;
    display: flex;
    justify-content: space-between;
}

.search-wrapper .nav-tabs li {
    margin: auto;
    width: 49%;
}

.search-wrapper .nav-item a {
    display: block;
    width: 100%;
    height: 100%;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    text-align: center;
    color: white;
}

.search-wrapper .tab-content {
    width: 100%;
}

.search-box-input .input-items {
    width: 100%;
    display: flex;
}

.search-box-input .icon {
    font-size: 20px;
    padding: 12px;
    min-width: 40px;
    text-align: center;
}

.search-box-input input.input-fields {
    width: 100%;
    padding: 10px;
    text-align: center;
    border: none;
    margin-bottom: 18px;
    border-radius: 3px;
}

.search-box-input .date {
    display: flex;
    justify-content: space-between;
}

.search-box-input .datepicker {
    padding-left: 20px;
    outline: none;
}

.search-box-input .date-picker {
    width: 49%;
}

.input-items .room-guest-select {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.input-items .room-guest-select .amount-item {
    position: relative;
    display: flex;
    width: 49%;
}


.input-items .room-guest-select .amount-item input {
    text-align: center;
    border: none;
    border-radius: 3px;
    width: 100%;
    height: 100%;
    padding: 8px 0;
}

.input-items .room-guest-select-text {
    position: absolute;
    padding-left: 12px;
    line-height: 40px;
}


.input-items .btn-change-data {
    position: absolute;
    color: black;
    background-color: white;
    right: 0;
    top: 39px;
    width: 100%;
    height: 100%;
    flex-direction: row;
    border-radius: 3px;
    display: none;
}

.input-items .btn-change-data button {
    padding: 0 20px;
    border: none;
    outline: none;
    position: relative;
}



.input-items .btn-change-data input {
    border: none;
    outline: none;
}

.search-btn {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    width: 100%;
}

.search-btn .search-submit {
    width: 100%;
    padding: 12px 0;
    border: none;
    outline: none;
    border-radius: 3px;
    font-weight: 700;
    font-size: 20px;
    color: white;
    background-color: #ed4079;
}