@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

:root {
  --blue: #1376ff;
  --black: #222228;
  --white: #fff;
  --gray-medium: #39393e;
  --gray-light: #b0b0b2;

  --radius: 10px;
  --item-padding: 1.5rem 1.6rem;
  --sidebar-width: 305px;
}

.sidebar {
  width: var(--sidebar-width);
  color: var(--gray-light);
  background-color: var(--black);
  padding: 20px;
  height: 100%;
  display: flex;
  flex-direction: column;

  &__top {
    .search {
      display: flex;
      background-color: var(--gray-medium);
      padding: var(--item-padding);
      border-radius: var(--radius);

      input {
        border: 0;
        outline: 0;
        background: 0 0;
        margin-left: 12px;
        color: inherit;

        &::placeholder {
          font-size: 1.6rem;
          font-weight: 700;
        }
      }
    }

    .top {
      margin-bottom: 24px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      h2 {
        color: var(--white);
        font-size: 2.4rem;
        font-weight: 700;
      }

      .humburger {
        width: 2.6rem;
        cursor: pointer;

        .line {
          display: block;

          width: 100%;
          height: 2px;
          background-color: var(--white);

          &:not(:last-child) {
            margin-bottom: 4px;
          }
        }
      }
    }
  }

  &__nav {
    width: 100%;
    padding-top: 22px;

    h5 {
      font-size: 1.2rem;
      margin-bottom: 22px;
      font-weight: 700;
    }
  }

  h2 {
    color: var(--white);
    font-size: 3.2rem;
  }
}

.sidebar__menu {
  &--item {
    cursor: pointer;
    padding: var(--item-padding);
    border-radius: var(--radius);
    transition: all 150ms cubic-bezier(.92,.69,.65,.88);
    &:hover {
      color: var(--white);

      svg {
        fill: var(--white);
      }
    }

    &.is-active {
      color: var(--white);
      background-color: var(--blue);

      svg {
        fill: var(--white);
      }
    }

    &:not(:last-child) {
      margin-bottom: 1rem;
    }

    span {
      margin-left: 1.2rem;
    }
  }
}

.sidebar__profile {
  margin-top: auto;
  display: flex;
  align-items: center;

  .avatar {
    width: 50px;
    height: 50px;
    border-radius: var(--radius);
    align-self: stretch;
    overflow: hidden;
    img {
      border-radius: inherit;
    }
  }

  .content {
    margin-left: 12px;

    strong {
      font-size: 12px;
      margin-bottom: 10px;
    }

    p {
      color: var(--white);
    }
  }

  .arrow {
    margin-left: auto;
    background-color: var(--gray-medium);
    border-radius: var(--radius);
    width: 25px;
    height: 25px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    svg {
      width: 13px;
      height: 13px;
    }
  }
}

html {
  font-size: 10px;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

svg {
  width: 18px;
  height: 18px;
  fill: var(--gray-light);
}

body {
  width: 100%;
  height: 100vh;
  color: #060712;
  background-color: #f8f4f2;

  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.15;
  overflow: hidden;
  position: relative;

  display: grid;
  grid-template-columns: var(--sidebar-width) 1fr;
}

img {
  display: block;
  max-width: 100%;
  object-fit: cover;
}
