<template>
  <div>
    <Header/>
<!--    <div class="hotellist" v-for="(hotelList, index) in hotelLists" :key="index">-->
<!--      <div class="hotellist sr_double_search">-->
<!--        <div class="wider_image">-->
<!--          <a href=""><img :src="hotelList.img" alt=""></a>-->
<!--        </div>-->
<!--        <div class="sr_item_content">-->
<!--          <div class="sr_property_block_main_row">-->
<!--            <div class="sr_item_main_block">-->
<!--              <div class="sr-hotel__title-wrap">-->
<!--                <h3 class="sr-hotel__title">-->
<!--                  <span class="sr-hotel__name">{{ hotelList.name }}</span>-->
<!--                </h3>-->
<!--                <div class="sr_card_address_line">-->
<!--                  <a href="" class="bui-link">-->
<!--                    {{ hotelList.place }}-->
<!--                    <span></span>&nbsp;-->
<!--                    <span class="sr_card_address_line__item">-->
<!--                                                <span class="sr_card_address_line__dot-separator">-->
<!--                                                    Xem trên bản đồ-->
<!--                                                </span>-->
<!--                                            </span>-->
<!--                  </a>-->
<!--                  <span class="sr_card_address_line__dot-separator"></span>&nbsp;-->
<!--                  <span>-->
<!--                                            {{ hotelList.far }}-->
<!--                                        </span>-->
<!--                </div>-->
<!--                <div class="hotel_desc">-->
<!--                  {{ hotelList.description }}-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="sr_item_review_block">-->
<!--              <div class="reviewFloater reviewFloaterBadge__container">-->
<!--                <div class="sr-review-score">-->
<!--                  <a href="" class="sr-review-score__link">-->
<!--                    <div class="bui-review-score">-->
<!--                      <div class="bui-review-score&#45;&#45;end" aria-label="Đạt điểm 8,5">-->
<!--                        {{ hotelList.score }}-->
<!--                      </div>-->
<!--                      <div class="bui-review-score__content">-->
<!--                        <div class="bui-review-score__title">Rất tốt</div>-->
<!--                        <div class="bui-review-score__text">{{ hotelList.review }}</div>-->
<!--                      </div>-->
<!--                    </div>-->
<!--                  </a>-->
<!--                </div>-->
<!--                <div class="button-price">Hiện thị giá</div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
      DEMO
  </div>
</template>

<script>
import Header from "@/components/views/LargestPopular/Header";
export default {
  name: "Home&Apartment",
  components: {Header},
  data: () => {
    return {
      hotelLists: [
        {
          img: require('../../../../../public/img/dalat1-1.jpg'),
          name: 'Teracotta Villa Tuyen Lam Lake Dalat',
          place: 'Tuyen Lam Lake,Đà Lạt',
          far: 'Cách trung tâm 5km',
          description: 'Nằm cách Hồ Tuyền Lâm 2 km, Terracotta Villa Tuyen Lam Lake Dalat cung cấp\n' +
              '                    chỗ nghỉ với nhà hàng, trung tâm thể dục và lễ tân 24 giờ để tạo thuận tiện\n' +
              '                    cho khách.',
          score: 8.1,
          review: '100 đánh giá',
        },
        {
          img: require('../../../../../public/img/dalat1-2.jpg'),
          name: 'May Studio',
          place: 'Xuan Huong Lake, Đà Lạt',
          far: 'Cách trung tâm 400m',
          description: 'Nằm ở thành phố Đà Lạt thuộc tỉnh Lâm Đồng với Quảng trường Lâm Viên và Hồ\n' +
              '                    Xuân Hương gần đó, May Studio cung cấp chỗ nghỉ với Wi-Fi miễn phí và chỗ đỗ\n' +
              '                    xe riêng miễn phí.',
          score: 8.9,
          review: '185 đánh giá',
        },
        {
          img: require('../../../../../public/img/dalat1-3.jpg'),
          name: 'Terracotta Hotel & Resort Dalat',
          place: 'Xuan Huong Lake, Đà Lạt',
          far: 'Cách trung tâm 250m',
          description: 'Nằm cách Quảng trường Lâm Viên 1,5 km, Maika Condotel Dalat cung cấp chỗ nghỉ có\n' +
              '                    vườn, tiện nghi BBQ và lễ tân 24 giờ để tạo thuận tiện cho du khách. WiFi được\n' +
              '                    cung cấp miễn phí.',
          score: 8.5,
          review: '135 đánh giá',
        },
        {
          img: require('../../../../../public/img/dalat1-4.jpg'),
          name: 'TTR Studio',
          place: 'Đà Lạt',
          far: 'Cách trung tâm 1.6km',
          description: 'Nằm cách Quảng trường Lâm Viên 3 km, TTR Studio có chỗ nghỉ với vườn, sân hiên\n' +
              '                    và lễ tân 24 giờ để tạo thuận tiện cho khách. Khách sạn căn hộ này cung cấp cả\n' +
              '                    WiFi lẫn chỗ đỗ xe riêng miễn phí.',
          score: 8.9,
          review: '188 đánh giá',
        },
        {
          img: require('../../../../../public/img/dalat1-5.jpg'),
          name: 'La Fleur Premium Central Apartment',
          place: 'Xuan Huong Lake, Đà Lạt',
          far: 'Cách trung tâm 700m',
          description: 'The La Fleur Apartment Dalat cung cấp chỗ nghỉ tại thành phố Đà Lạt, nằm trong\n' +
              '                    bán kính 700 m từ Quảng trường Lâm Viên. Du khách có thể truy cập WiFi miễn phí.',
          score: 9.6,
          review: '38 đánh giá'
        },
      ]
    }
  },

}
</script>

<style scoped>

</style>