<template>
 <div>
   <Header/>
   <div class="bodycontraint">
     <div class="bodycontraint-inner">
       <div v-for="(hotel, index) in hotel_lists" :key="index" class="hotel-list">
         <div class="hotel-list sr_double_search">
           <div class="wider_image">
             <a href=""><img v-bind:src="hotel.image" alt=""></a>
           </div>
           <div class="sr_item_content">
             <div class="sr_property_block_main_row">
               <div class="sr_item_main_block">
                 <div class="sr-hotel__title-wrap">
                   <h3 class="sr-hotel__title">
                                        <span class="sr-hotel__name">
                                            {{hotel.name}}
                                        </span>
                   </h3>
                   <div class="sr_card_address_line">
                     <a href="" class="bui-link">
                       {{hotel.place}}
                       <span></span>&nbsp;
                       <span class="sr_card_address_line__item">
                                                <span class="sr_card_address_line__dot-separator">
                                                    Xem trên bản đồ
                                                </span>
                                            </span>
                     </a>
                     <span class="sr_card_address_line__dot-separator"></span>&nbsp;
                     <span>
                                            {{hotel.far}}
                                        </span>
                   </div>
                   <div class="hotel_desc">
                     {{hotel.description}}
                   </div>
                 </div>
               </div>
               <div class="sr_item_review_block">
                 <div class="reviewFloater reviewFloaterBadge__container">
                   <div class="sr-review-score">
                     <a href="" class="sr-review-score__link">
                       <div class="bui-review-score">
                         <div class="bui-review-score--end" aria-label="Đạt điểm 8,5">
                           {{hotel.score}}
                         </div>
                         <div class="bui-review-score__content">
                           <div class="bui-review-score__title">Rất tốt</div>
                           <div class="bui-review-score__text">{{hotel.review}}</div>
                         </div>
                       </div>
                     </a>
                   </div>
                   <div class="button-price">Hiển thị giá</div>
                 </div>
               </div>
             </div>
           </div>
         </div>
       </div>
     </div>
   </div>

 </div>
</template>
<script>
import Header from "@/components/views/LargestPopular/Header";
export default {
  name: "DaLatOurChoice",
  components: {Header},
  data: () => {
    return {
      component:{
        // Header,
      },
      hotel_lists: [
        {
          image: require('../../../../../public/img/dalat1-1.jpg'),
          name: 'Ana Villas Dalat Resort & Spa',
          place: 'Đà Lạt',
          far: 'Cách trung tâm 1,5 km',
          description: 'Ana Villas Dalat Resort & Spa cung cấp các biệt thự kiểu thuộc địa Pháp nguyên' +
              '                    bản' +
              '                    tại một vị trí lý tưởng trên những sườn dốc của vùng cao nguyên nông thôn ở' +
              '                    thành' +
              '                    phố Đà Lạt.',
          score: 8.5,
          review: '379 đánh giá',
        },
        {
          image: require('../../../../../public/img/dalat1-2.jpg'),
          name: 'Hotel Colline',
          place: 'Xuan Huong Lake, Đà Lạt',
          far: 'Cách trung tâm 250m',
          description: 'Nằm ở trung tâm thành phố Đà Lạt, cách Quảng trường Lâm Viên 500 m, Hôtel' +
              '                    Colline có quầy bar và các phòng với truy cập Wi-Fi miễn phí.' +
              '                    Được đặt 7 lần trong 6 giờ qua' +
              '                    Được đặt gần nhất1 giờ trước',
          score: 8.4,
          review: '432 đánh giá',
        },
        {
          image: require('../../../../../public/img/dalat1-3.jpg'),
          name: 'Terracotta Hotel & Resort Dalat',
          place: 'Tuyen Lam Lake, Đà Lạt',
          far: 'Cách trung tâm 1,5 km',
          description: 'Terracotta Hotel & Resort Dalat cung cấp các phòng và biệt thự với Wi-Fi miễn' +
              '                    phí. Resort nằm cạnh Hồ Tuyền Lâm đồng thời có hồ bơi trong nhà, trung tâm thể' +
              '                    dục và spa.',
          score: 8.4,
          review: '649 đánh giá',
        },
        {
          image: require('../../../../../public/img/dalat1-4.jpg'),
          name: 'Dalat Palace Heritage Hotel',
          place: 'Xuan Huong Lake, Đà Lạt',
          far: 'Cách trung tâm 800m',
          description: 'Dalat Palace Heritage Hotel tạo lạc tại trung tâm thành phố Đà Lạt, cách Dinh' +
              '                    Bảo Đại chưa đến 300m. Tọa lạc trong một công viên tư nhân, khách sạn thông gió' +
              '                    tự nhiên này có nhà hàng, spa và Wi-fi miễn phí',
          score: 7.4,
          review: '109 đánh giá',
        },
        {
          image: require('../../../../../public/img/dalat1-5.jpg'),
          name: 'Swiss-Belresort Tuyen Lam',
          place: 'Tuyen Lam Lake, Đà Lạt',
          far: 'Cách trung tâm 6 km',
          description: 'Tọa lạc tại thành phố Đà Lạt, Swiss-Belresort Tuyen Lam cung cấp chỗ ở đầy phong' +
              '                    cách và có khu vườn riêng, nhà hàng và các phòng nghỉ với Wi-Fi miễn phí.',
          score: 8.4,
          review: '394 đánh giá',
        },
        {
          image: require('../../../../../public/img/dalat1-6.jpg'),
          name: 'Golf Valley Hotel',
          place: 'Xuan Huong Lake, Đà Lạt',
          far: 'Cách trung tâm 450m',
          description: 'olf Valley Hotel tọa lạc tại thành phố Đà Lạt, cách Quảng trường Lâm Viên 1,9' +
              '                    km, Hồ Xuân Hương 2,1 km và Công viên Yersin 2,2 km, nhà hàng và các phòng nghỉ với Wi-Fi miễn phí.',
          score: 8.2,
          review: '236 đánh giá',
        },
        {
          image: require('../../../../../public/img/dalat1-7.jpg'),
          name: 'TTC Hotel - Ngoc Lan',
          place: 'Xuan Huong Lake, Đà Lạt',
          far: 'Cách trung tâm 250m',
          description: 'TTC Hotel - Ngoc Lan nằm tại trung tâm Thành phố Đà Lạt này nhìn ra quang cảnh' +
              '                    Hồ Xuân Hương thơ mộng đồng thời có hồ bơi spa, nhà hàng và các phòng nghỉ với' +
              '                    Wi-Fi miễn phí.',
          score: 8.1,
          review: '223 đánh giá',
        },
        {
          image: require('../../../../../public/img/dalat1-8.jpg'),
          name: 'Capital Saigon Book Da Lat Hotel',
          place: 'Đà Lạt',
          far: 'Cách trung tâm 26km',
          description: 'Nằm ở thành phố Đà Lạt, cách Vườn hoa Đà Lạt 600 m, Capital O 585 Saigon Book Da' +
              '                    Lat Hotel cung cấp chỗ nghỉ với quầy bar, chỗ đỗ xe riêng miễn phí, sảnh khách' +
              '                    chung và khu vườn.',
          score: 8.8,
          review: '360 đánh giá',
        },
        {
          image: require('../../../../../public/img/dalat1-9.jpg'),
          name: 'Dalat Wonder Resort',
          place: 'Tuyen Lam Lake, Đà Lạt',
          far: 'Cách trung tâm 5km',
          description: 'Tọa lạc ở thành phố Đà Lạt, cách Thiền viện Trúc Lâm 6 km, Dalat Wonder Resort' +
              '                    cung cấp chỗ nghỉ với nhà hàng, chỗ đỗ xe riêng miễn phí, hồ bơi ngoài trời và' +
              '                    trung tâm thể dục.',
          score: 7.8,
          review: '635 đánh giá',
        }
      ]
    }
  },

}
</script>

<style scoped>
@import "../../../../../public/css/dalat.css";
</style>