<template>
  <div class="largest-popular" :key="componentKey">
    <div class="largest-popular-container">
      <div class="build-title">
        <span class="build-title__text main-title">{{ this.title }}</span>
      </div>
      <div class="bui-carousel">
        <ul class="bui-carousel__inner">
          <router-link tag="li" :to="value.to"
              v-for="(value, key) in LargestPopular"
              :key="key"
              class="bui-carousel__item"
          >
            <a href="" class="bui-card">
              <div class="bui-card__image-container">
                <img v-bind:src="'/img/' + value.img" alt=""/>
              </div>
              <div class="bui-card__content">
                <div class="bui-title">
                  <span class="bui-card__title">{{ value.name }}</span>
                  <span class="bui-title__subtitle">{{ value.description }}</span>
                </div>
              </div>
            </a>
          </router-link>
        </ul>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: "LargestPopular",
  data() {
    return {
      componentKey: 0,
      title: "Khám phá Việt Nam",
      LargestPopular: [
        {
          name: "Đà Lạt",
          description: "2.145 chỗ nghỉ",
          img: "Dalat.jpg",
          to:'/dalat'
        },
        {
          name: "Đà Nẵng",
          description: "2.508 chỗ nghỉ",
          img: "danang.jpg",
          to:'/danang',
        },
        {
          name: "Hà Nội",
          description: "3.802 chỗ nghỉ",
          img: "Hanoi.jpg",
          to:'/hanoi',
        },
        {
          name: "TP. Hồ Chí Minh",
          description: "5.603 chỗ nghỉ",
          img: "Hochiminh.jpg",
          to:'/hochiminh',
        },
        {
          name: "Phú Quốc",
          description: "672 chỗ nghỉ",
          img: "phuquoc.jpg",
          to:'/phuquoc',
        },
      ],
    };
  },
  // watch:{
  //   '$route.params.id': function () {
  //     this.$forceUpdate()
  //   }
  // },
  // created() {
  //   this.$forceUpdate();
  // }
};
</script>
<style>
@import "../../../../public/css/largest_popular.css";
</style>