<template>
  <div id="app">
    <Header/>
    <div class="main-content">
    <slot/>
    </div>
    <Footer/>
  </div>
</template>

<script>
import Header from "@/components/views/Header";
import Footer from "@/components/views/Footer";

export default {
  name: `LayoutDefault`,
  components: {
    Footer,
    Header
  },
};
</script>

<style scoped>

</style>

